---
import { type Experience } from "@/types";
import Icon from "astro-icon";

interface Props {
  Experience: Experience;
}

const { Experience } = Astro.props;
---

<li class="flex gap-4 items-baseline">
  <span
    aria-label="Icon of arrow"
    class="w-7 h-7 text-center font-semibold animation-colors-bg"
  >
    &#10140;</span
  >
  <article class="flex flex-col gap-3">
    <header>
      <h3 class="font-semibold text-lg flex flex-wrap gap-2 items-center">
        {Experience.title}
        <span class="animation-colors-bg">&gt;</span>
        <span class="font-normal flex gap-1 items-center">
          <Icon
            aria-label="Icon of calender"
            class="w-4 h-4"
            name="uis:calender"
          />
          {Experience.from}
          {Experience.to ? ` - ${Experience.to}` : ""}
        </span>
      </h3>
    </header>
    <small class="text-base font-normal flex flex-wrap gap-1 items-center">
      <Icon aria-label="Icon of map" class="w-4 h-4" name="ic:baseline-map" />
      {Experience.company} - <span> {Experience.location}</span>
    </small>
    <p class="leading-7 sm:leading-9 text-base font-normal text-gray-300">
      {Experience.description}
    </p>
  </article>
</li>
