---
import Icon from "astro-icon";
import { Image } from "astro:assets";
import { type CollectionEntry } from "astro:content";
import { slugifyProject } from "@/utils/slugify";

interface Props {
  project: CollectionEntry<"projects">["data"];
  responsive?: true;
}

const { project, responsive } = Astro.props;
---

<article
  class=`rounded-sm bg-[#23262d7d] border-[#343841] border-opacity-70 border-[0.5px] flex flex-col ${responsive ? "sm:flex-row" : ""}`
>
  <a
    class=`h-36 rounded-t-sm border-[#343841] border-opacity-70 border-[0.5px] ${responsive ? "sm:w-3/5 sm:h-auto" : ""}`
    href={`/projects/${slugifyProject(project)}`}
  >
    <Image
      class="h-full object-cover"
      transition:name={`image-${
        !responsive ? project.title : project.title + "-responsive"
      }`}
      src={project.image}
      alt={project.imageAlt}
    />
  </a>
  <div
    class=`flex flex-col h-fit min-h-56 ${responsive ? "sm:min-h-fit" : ""} gap-2 p-4 justify-between`
  >
    <header class="flex justify-between h-fit items-center">
      <h3 class="h-min">
        <a
          href={`/projects/${slugifyProject(project)}`}
          class="block font-semibold text-lg border-transparent transition-all hover:border-white border-b
          w-fit border-dashed"
          >{project.title}</a
        >
      </h3>
      <ul class="flex flex-row gap-2">
        {
          project.links?.map((link) => (
            <li>
              <a
                href={link.url}
                aria-label={`Link to ${link.label} of the project`}
              >
                <Icon
                  aria-label={`Icon of ${link.label}`}
                  name={link.icon}
                  class="w-4 h-4"
                />
              </a>
            </li>
          ))
        }
      </ul>
    </header>
    <p class="leading-7 text-base text-gray-300">
      {project.description}
    </p>
    <hr
      class=`w-full mt-2 border-slate-300 border-opacity-70 ${responsive ? "sm:hidden" : "" }`
    />
    <p class="text-sm font-normal text-gray-400 leading-6">
      {project.date.toDateString()}
    </p>
  </div>
</article>
